{% extends "VikingMainBundle::admin_layout.html.twig" %}
{% block title %}{{ parent() }} - Administration{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-md-12">
            Page Admin :
            Ce formulaire permet d'agrementer la bibliotheque d'image pour l'editeur et nos article.
            {% if mess is defined %}
            <p style="color: {% if mess == 'Le fichier est bien enregisté' %}green{% else %}red;{% endif %}">{{ mess }}</p>
            {% endif %}
            <form action="{{ path('viking_admin_homepage') }}" method="POST" {{ form_enctype(form) }}>
                {{ form(form) }}
            </form>
        </div>
    </div>
{% endblock %}
