<form role="contact" method="post" action="{{ path('homepage') }}" {{ form_enctype(form) }}>
    <div class="modal-body">
        {{ form_label(form.name) }}
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': form.name.vars.label, 'data-validation-required-message': 'Veuillez saisir votre nom'} }) }}
            <span class="input-validation"></span>
        </div>

        {{ form_label(form.email) }}
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': form.email.vars.label, 'data-validation-required-message': 'Veuillez saisir votre e-mail', 'data-validation-invalid-message': 'Veuillez saisir une adresse email valide'} }) }}
            <span class="input-validation"></span>
        </div>

        {{ form_label(form.message) }}
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
            {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': form.message.vars.label, 'data-validation-required-message': 'Veuillez saisir votre message'} }) }}
            <span class="input-validation"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-primary ladda-button" data-style="expand-left">
            <span class="ladda-label">Envoyer</span>
        </button>
    </div>
    {{ form_rest(form) }}
</form>