<form role="contact" method="post" action="{{ path(article.routeName) }}" {{ form_enctype(form) }}>
    {{ form_label(form.name) }}
    <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': form.name.vars.label, 'data-validation-required-message': 'Please fill in a name'|trans({}, 'validators')} }) }}
        <span class="input-validation"></span>
    </div>

    {{ form_label(form.email) }}
    <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': form.email.vars.label, 'data-validation-required-message': 'Please fill in an email address'|trans({}, 'validators'), 'data-validation-invalid-message': 'Please fill in a valid email address'|trans({}, 'validators')} }) }}
        <span class="input-validation"></span>
    </div>

    {{ form_label(form.message) }}
    <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
        {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': form.message.vars.label, 'data-validation-required-message': 'Please fill in a message'|trans({}, 'validators')} }) }}
        <span class="input-validation"></span>
    </div>

    <button type="submit" class="btn btn-primary ladda-button" data-style="expand-right">
        <span class="ladda-label">{{ 'Send'|trans({}, 'VinceCms') }}</span>
    </button>

    {{ form_rest(form) }}
</form>