<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ object }}</title>
        {% stylesheets 'bundles/sonataadmin/bootstrap/css/bootstrap.min.css'
                       'bundles/sonataadmin/bootstrap/css/bootstrap-responsive.min.css'
                       'bundles/sonataadmin/css/layout.css'
                       'bundles/sonataadmin/css/colors.css'
                       'bundles/myquote/css/pdf.css' filter="cssrewrite,?yui_css" %}
            <link type="text/css" rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() ~ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body class="sonata-bc">
        <div class="row-fluid">
            <div class="span6">
                {{ ('gender.' ~ app.user.gender)|trans({}, 'SonataAdminBundle') }}
                {{ app.user.firstname }} {{ app.user.lastname|upper }}<br />
                {{ app.user.address }}<br />
                {{ app.user.zipcode }} {{ app.user.city }}<br />
                {{ app.user.phone }}<br />
                <a href="mailto:{{ app.user.email }}">{{ app.user.email }}</a><br />
                <a href="{{ url('homepage') }}">{{ url('homepage') }}</a><br />
                <br />
                SIRET : {{ app.user.formattedSiret }}<br />
                Code APE : {{ app.user.ape }} Dispensé d’immatriculation<br />
                <small>Dispensé d’immatriculation au registre du commerce<br />
                       et des sociétés (RCS) et au répertoire des métiers (RM)</small>
            </div>
            <div class="span6 right">
                {{ object.customer.name }}<br />
                {{ object.customer.address|nl2br }}<br />
                {{ object.customer.zipcode }}
                {{ object.customer.city }}
            </div>
        </div>
        <div class="row-fluid">
            <p class="right">Lille, le {{ object.createdAt|localizeddate('full', 'none') }}</p>
            <h1>{{ object }}</h1>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Prestation</th>
                        <th>Prix Unit. HT</th>
                        <th>Montant HT</th>
                    </tr>
                </thead>
                {% block total %}
                    <tfoot>
                        <tr>
                            <th colspan="2" style="text-align:right">TOTAL HT</th>
                            <th>{{ object.amount|number_format(2, ',', ' ') }} €</th>
                        </tr>
                    </tfoot>
                {% endblock %}
                <tbody>
                    {% for delivery in object.deliveries %}
                        <tr>
                            <td>{{ delivery.contents|raw }}</td>
                            <td>{{ delivery.price|number_format(2, ',', ' ') }} €</td>
                            <td>{{ delivery.price|number_format(2, ',', ' ') }} €</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="right"><small>TVA non applicable, art.293B du CGI</small></p>
            <br />
            {% block infos %}
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                <p><strong>Notes :</strong></p>
                                {{ object.notes|raw }}
                            </td>
                            <td width="290">
                                <p><strong>Modes de règlement :</strong></p>
                                <p>Le règlement d'une première échéance de 50% du montant est demandée afin de démarrer
                                   le projet. Le client peut régler par virement bancaire ou chèque.</p>
                                <p><strong>Date d'échéance :</strong></p>
                                {{ object.deadline|localizeddate('full', 'none')|capitalize }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endblock %}
        </div>
    </body>
</html>