{% extends 'VinceCmsBundle::base.html.twig' %}

{% block body %}
    <h1>{{ block('title') }}</h1>

    <a href="{{ article.content('file') }}" class="pdf" target="_blank">Télécharger la version PDF</a>

    <div class="cv-thumbnail">
        <div id="jquery-timeline"></div>
    </div>

    <div class="contents">
        {% for skill in skills %}
            <div class="skill">
                <h4>{{ skill.title }}</h4>
                <div class="infos">
                    {{ skill.place }}, du {{ skill.fromDate|localizeddate('long', 'none') }} {{ skill.toDate ? " au " ~ skill.toDate|localizeddate('long', 'none') : " à aujourd'hui" }}
                    {% if skill.content('website') %}
                        - <a href="{{ skill.content('website') }}" title="{{ skill.title }}" target="_blank">{{ skill.content('website') }}</a>
                    {% endif %}
                </div>
                <div class="description">{{ skill.chapo|raw }}</div>
                {% if skill.recommandation is not empty %}
                    <div class="recommandation">
                        <span class="citation">{{ skill.recommandation }}<span class="author">{{ skill.author }}</span></span>
                    </div>
                {% endif %}
                {% if skill.tags|length %}
                    <p>Tags :
                        {% for i, tag in skill.tags %}
                            <a href="{{ path('search', {'query': tag}) }}" title="{{ tag }}" class="tag">{{ tag }}</a>{% if i < skill.tags|length-1 %}, {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        {% endfor %}

        {{ article.content('hobbies')|raw }}
    </div>
{% endblock %}

{% block right %}
    <img src="http://www.gravatar.com/avatar/6d575a460a21d7727e9143a20a26733f?s=170" alt="Gravatar" title="Gravatar" class="avatar" />
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/myblog/js/tipsy/tipsy.css') }}" media="screen" />
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/myblog/css/cv.css') }}" media="all" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/myblog/js/tipsy/jquery.tipsy.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/myblog/js/jquery.timeline.js') }}"></script>
    <script type="text/javascript" src="{{ path('timeline') }}"></script>
{% endblock %}