{% block vince_admin_article_title_text_javascript %}
    {% spaceless %}
        <script type="text/javascript">
            $(function () {
                $('#{{ id }}').on('change keyup', function () {
                    $(':input[id$=_url]', $(this).closest('form')).attr('placeholder', '/' + $(this).val().slugify());
                }).trigger('change');
            });
        </script>
    {% endspaceless %}
{% endblock %}

{% block metagroup_row %}
    {% spaceless %}
        <div id="{{ id }}">
            {% for group in form %}
                <fieldset>
                    {% if group.vars.label|length > 0 %}
                        <legend>{{ group.vars.label }}</legend>
                    {% endif %}

                    {% for meta in group if meta != group.select %}
                        {{ form_row(meta) }}
                    {% endfor %}

                    <div class="well well-small">
                        {{ form_widget(group.select) }}
                        &nbsp;
                        <a class="btn" href="#">
                            <i class="icon-plus"></i>{{ 'article.field.add'|trans({}, 'SonataAdminBundle') }}
                        </a>
                    </div>
                </fieldset>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block metagroup_javascript %}
    {% spaceless %}
        <script type="text/javascript">
            $(function () {
                {% for group in form %}
                    {% for meta in group if meta != group.select and meta.vars.value is empty %}
                        $('#{{ meta.vars.id }}').closest('.control-group').hide();
                    {% endfor %}
                    $('#{{ id }} .well select option').each(function () {
                        if ($('#{{ group.vars.id }}_' + $(this).attr('value') + ':visible').length) {
                            $(this).hide();
                        }
                    });
                {% endfor %}
                $('#{{ id }} .well a').on('click', function (event) {
                    event.preventDefault();
                    console.log($(this).siblings('select').val());
                });
            });
        </script>
    {% endspaceless %}
{% endblock %}

{% block vince_admin_menu_title_text_javascript %}
    {% spaceless %}
        {{ block('vince_admin_article_title_text_javascript') }}
    {% endspaceless %}
{% endblock %}

{% block vince_admin_menu_image_checkbox_javascript %}
    {% spaceless %}
        <script type="text/javascript">
            $(function () {
                $('#{{ id }}').on('change', function () {
                    if ($(this).is(':checked')) {
                        $(':input[id$=_file]', $(this).closest('form')).closest('.control-group').show();
                    } else {
                        $(':input[id$=_file]', $(this).closest('form')).closest('.control-group').hide();
                    }
                }).trigger('change');
            });
        </script>
    {% endspaceless %}
{% endblock %}

{% block vince_admin_menu_file_file_widget %}
    {% spaceless %}
        {% if filename is defined and filename %}
            <a href="{{ filename }}" target="_blank">
                <img src="{{ filename }}" style="max-height:200px;max-width:200px;" />
            </a><br />
        {% endif %}
        {{ block('form_widget_simple') }}
    {% endspaceless %}
{% endblock %}

{% block vince_admin_menu_parent_entity_widget %}
    {% spaceless %}
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {% for group_label, choice in choices %}
                <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>
                    {% autoescape 'html' %}{{ choice.label|trans({}, translation_domain)|raw }}{% endautoescape %}
                </option>
            {% endfor %}
        </select>
    {% endspaceless %}
{% endblock %}