{% extends "VikingMainBundle::admin_layout.html.twig" %}
{% block title %}{{ parent() }} - Edition d'un article{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-md-12">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="http://imperavi.com/js/redactor/redactor.css" type="text/css" rel="stylesheet">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="http://imperavi.com/js/redactor/redactor.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('textarea').redactor(
                    {
                        imageUpload: '',
                        fileUpload: '',
                        imageGetJson: '{{ app.request.uriForPath("/uploads/articles/images.json")| replace({'/app_dev.php': ''}) }}' }
            );
        });
    </script>
{% endblock %}