{% extends 'MyCmsBundle::layout.html.twig' %}

{% block current %}{{ article.slug }}{% endblock %}

{% form_theme form 'MyCmsBundle:Component:form_div_layout.html.twig' %}

{% block article %}
    {% spaceless %}
        <article>
            <header>
                <h1>{{ article.title }}</h1>
            </header>
            <form action="{{ path(article.routeName) }}" method="post" {{ form_enctype(form) }} novalidate>
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-success ladda-button" data-style="expand-left">
                    <span class="ladda-label">Envoyer</span>
                </button>
            </form>
        </article>
    {% endspaceless %}
{% endblock %}
