{% extends 'VinceCmsBundle::base.html.twig' %}

{% block body %}
    <h1>{{ block('title') }}</h1>

    <div class="contents">
        {{ form_start(form, {'method': 'POST'}) }}
            {{ form_errors(form) }}
            {{ form_rest(form) }}
            <input type="submit" value="Envoyez le formulaire" />
        {{ form_end(form) }}
    </div>
{% endblock %}