{% extends 'MyCmsBundle::base.html.twig' %}

{% block current %}curriculum-vitae{% endblock %}

{% block stylesheets %}
    {% spaceless %}
        {% stylesheets 'bundles/mycms/js/tipsy/tipsy.css'
                       'bundles/mycms/js/timeline/timeline.css'
                       filter="?yui_css,cssrewrite" %}
            <link type="text/css" rel="stylesheet" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}
        {{ parent() }}
    {% endspaceless %}
{% endblock %}

{% block javascripts %}
    {% spaceless %}
        {{ parent() }}
        {% javascripts '@MyCmsBundle/Resources/public/js/tipsy/jquery.tipsy.js'
                       '@MyCmsBundle/Resources/public/js/timeline/jquery.timeline.js'
                       filter="?yui_js" %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script type="text/javascript" src="{{ asset(path('timeline')) }}"></script>
    {% endspaceless %}
{% endblock %}

{% block article %}
    {% spaceless %}
        <h1>{{ article.title }}</h1>
        <a href="{{ path('cv-download') }}" title="Télécharger la version PDF" class="pdf">Télécharger la version PDF</a>
        <div class="timeline-container">
            <div id="timeline"></div>
        </div>
        <div class="contents">
            {% for skill in skills %}
                <div class="skill">
                    <h4>{{ skill.title }}</h4>
                    <div class="infos">
                        {{ skill.location }}, du {{ skill.startedAt|localizeddate('medium', 'none') }} au {{ skill.endedAt|localizeddate('medium', 'none') }}
                        -
                        <a href="{{ skill.website }}" title="{{ skill.title }}" target="_blank">{{ skill.website }}</a>
                        {#<ul class="tags">
                            <li><a href="recherche.html" title="PHP">PHP</a></li>
                            <li><a href="recherche.html" title="Symfony">Symfony</a></li>
                            <li><a href="recherche.html" title="Symfony 1.4">Symfony 1.4</a></li>
                            <li><a href="recherche.html" title="OVH">OVH</a></li>
                            <li><a href="recherche.html" title="Capistrano">Capistrano</a></li>
                            <li><a href="recherche.html" title="Git">Git</a></li>
                            <li><a href="recherche.html" title="Symfony 2">Symfony 2</a></li>
                        </ul>#}
                    </div>
                    <div class="description">{{ skill.description|raw }}</div>
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock %}