<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>Sandbox</title>
    <subtitle>{{ 'Last tickets'|trans({}, 'MyCms') }}</subtitle>
    <link href="{{ url('homepage') }}" />
    {% if articles|length %}
        <updated>{{ articles[0].updatedAt.format(constant('DATE_ATOM')) }}</updated>
    {% endif %}
    <author>
        <name>Vincent CHALAMON</name>
        <email>contact@sandbox.fr</email>
    </author>
    {% for article in articles %}
        <entry>
            <title>{{ article.title }}</title>
            <link href="{{ url(article.routeName) }}" />
            <id>{{ article.id }}</id>
            <updated>{{ article.updatedAt.format(constant('DATE_ATOM')) }}</updated>
            <summary type="html">{{ article.summary|raw }}</summary>
        </entry>
    {% endfor %}
</feed>