<ul>
    {% for child in menu.children if child.isPublished %}
        <li>
            <a href="{% if child.isUrl %}{{ child.url }}{% else %}{{ path(child.article.routeName) }}{% endif %}"
               {% if child.article and child.article.slug == 'contact' %} class="md-trigger" data-modal="modal-1"{% endif %}
               title="{{ child }}"{% if child.isUrl %} target="{{ child.target }}"{% endif %}>
                {% if child.isImage %}
                    <img src="{{ asset(child.webPath) }}" alt="{{ child }}" title="{{ child }}" />
                {% else %}
                    {{ child }}
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>