{% for child in menu.children if child.isPublished %}
    <a href="{% if child.isUrl %}{{ child.url }}{% else %}{{ path(child.article.routeName) }}{% endif %}"
       title="{{ child }}"{% if child.isUrl %} target="{{ child.target }}"{% endif %}>
        {% if child.isImage %}
            <img src="{{ asset(child.webPath) }}" alt="{{ child }}" title="{{ child }}" />
        {% else %}
            {{ child }}
        {% endif %}
    </a>
{% endfor %}