<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% if article is defined %}{{ article.meta('title') }}{% endif %}{% endblock %}</title>
        {% block metas %}
            {% if article is defined %}
                {% for meta in article.metas %}
                    {{ render_meta(meta) }}
                {% endfor %}
            {% endif %}
        {% endblock %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ path('cms_feed') }}" />
        <link rel="sitemap" type="application/xml" title="{{ 'Sitemap'|trans({}, 'VinceCms') }}" href="{{ path('cms_sitemap') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            {% spaceless %}
                {% stylesheets 'bundles/mycms/css/bootstrap.min.css'
                               'bundles/mycms/css/ladda-themeless.min.css'
                               'bundles/mycms/css/app.css'
                               filter='?yui_css,cssrewrite' %}
                    <link type="text/css" rel="stylesheet" href="{{ asset(asset_url) }}" />
                {% endstylesheets %}
                {% if form is defined %}
                    {{ form_stylesheets(form) }}
                {% endif %}
            {% endspaceless %}
        {% endblock %}
        <!--[if lt IE 9]>
        {% javascripts '@MyCmsBundle/Resources/public/js/html5shiv.min.js'
                       '@MyCmsBundle/Resources/public/js/respond.min.js'
                       filter='?yui_js' %}
            <script type="text/javascript" src="{{ asset(asset_url) }}"></script>
        {% endjavascripts %}
        <![endif]-->
        {% if tracking_code is defined and tracking_code is not empty %}
            <script>
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', '{{ tracking_code }}']);
                _gaq.push(['_trackPageview']);
                (function () {
                    var ga = document.createElement('script');
                    ga.type = 'text/javascript';
                    ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(ga, s);
                })();
                {% block ga %}{% endblock %}
            </script>
        {% endif %}
    </head>
    <body>
        <div class="container">
            <!-- Header -->
            <header>
                <h1><a href="{{ path('homepage') }}" title="{{ sitename }}">{{ sitename }}</a></h1>
                <nav role="navigation">
                    {{ render_menu('root', 'MyCmsBundle:Component:Menu/root.html.twig', {'current': block('current')}) }}
                </nav>
            </header>
            <!-- End header -->
            <div class="row">
                <!-- Contents -->
                <div class="col-sm-8">
                    {% block body %}{% endblock %}
                </div>
                <!-- End contents -->
                <!-- Aside -->
                <div class="col-sm-3 col-sm-offset-1">
                    <aside>
                        <h4>About</h4>
                        {{ render_menu('about') }}
                    </aside>
                    {% block aside %}{% endblock %}
                </div>
                <!-- End aside -->
            </div>
            <!-- Footer -->
            <footer>
                <p>&copy; {{ 'now'|date('Y') }} {{ sitename }} • {{ 'All rights reserved'|trans({}, 'MyCms') }}</p>
            </footer>
            <!-- End footer -->
        </div>
        {% block javascripts %}
            {% spaceless %}
                {% javascripts '@MyCmsBundle/Resources/public/js/jquery.min.js'
                               '@MyCmsBundle/Resources/public/js/bootstrap.min.js'
                               '@VinceTypeBundle/Resources/public/autosize/jquery.autosize.min.js'
                               '@MyCmsBundle/Resources/public/js/spin.min.js'
                               '@MyCmsBundle/Resources/public/js/ladda.min.js'
                               '@MyCmsBundle/Resources/public/js/app.js'
                               filter="?yui_js" %}
                    <script type="text/javascript" src="{{ asset(asset_url) }}"></script>
                {% endjavascripts %}
                {% if form is defined %}
                    {{ form_javascripts(form) }}
                {% endif %}
            {% endspaceless %}
        {% endblock %}
    </body>
</html>
