<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ article.meta('title') }}{% endblock %}</title>
        {% block metas %}
            {% for meta in article.metas %}
                {{ render_meta(meta) }}
            {% endfor %}
        {% endblock %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ path('cms_feed') }}" />
        <link rel="sitemap" type="application/xml" title="{{ 'text.sitemap'|trans({}, 'VinceCms') }}" href="{{ path('cms_sitemap') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            {% spaceless %}
                {% stylesheets 'bundles/mycms/css/bootstrap.min.css'
                               'bundles/mycms/js/totop/ui.totop.css'
                               'bundles/mycms/js/dist/ladda-themeless.min.css'
                               'bundles/mycms/css/animate.min.css'
                               'bundles/mycms/css/app.css'
                               filter="?yui_css,cssrewrite" %}
                    <link type="text/css" rel="stylesheet" media="screen" href="{{ asset_url }}" />
                {% endstylesheets %}
            {% endspaceless %}
        {% endblock %}
        <!--[if lt IE 9]>
        {% javascripts '@MyCmsBundle/Resources/public/js/html5shiv.js'
                       '@MyCmsBundle/Resources/public/js/respond.min.js'
                       filter="?yui_js" %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <![endif]-->
        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-36266524-1', 'vincent-chalamon.fr');
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        <header class="container">
            <a href="{{ path('homepage') }}" title="Vincent Chalamon" class="sitename col-md-5">
                Vincent Chalamon
                <span>Développeur multimédia</span>
            </a>
            <nav class="col-md-7 navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    {{ render_menu('root', 'MyCmsBundle:Component:Menu/root.html.twig', {'current': block('current') ?: 'accueil'}) }}
                </div>
            </nav>
        </header>

        {% block body %}{% endblock %}

        <section id="article" class="container">
            <article class="col-md-8">
                {% block article %}{% endblock %}
            </article>

            <aside class="col-md-4">
                {# todo-vince Manage search form (GET ? POST ? CSRF ?) #}
                {#<form role="search">
                    <div class="input-group">
                        <input class="form-control" type="search" name="query" title="Rechercher" alt="Rechercher" placeholder="Saisissez votre recherche..." />
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>#}
                {% block aside %}{% endblock %}
                <h2>Suivez-moi</h2>
                {{ render_menu('follow', 'MyCmsBundle:Component:Menu/follow.html.twig') }}
                <h2>A propos</h2>
                {{ render_menu('about', 'MyCmsBundle:Component:Menu/about.html.twig') }}
            </aside>
        </section>

        <footer>
            <p>Copyright &copy; {{ 'now'|date('Y') }} Vincent Chalamon • Tous droits réservés</p>
            <p>Graphisme : <a href="http://www.oxymore-creation.com" target="_blank" title="Oxymore Création">Oxymore Création</a></p>
        </footer>

        <div class="fork">
            <a href="https://github.com/vincentchalamon" title="Fork me on GitHub !" target="_blank">Fork me on GitHub !</a>
        </div>

        <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="Contact" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title"><span class="glyphicon glyphicon-envelope"></span>Contact</h2>
                    </div>
                    {% include 'MyCmsBundle:Component:contact.html.twig' with {'form': contactForm} %}
                </div>
            </div>
        </div>
        {% block javascripts %}
            {% spaceless %}
                {% javascripts '@jquery'
                               '@MyCmsBundle/Resources/public/js/bootstrap.min.js'
                               '@MyCmsBundle/Resources/public/js/totop/jquery.easing.1.3.js'
                               '@MyCmsBundle/Resources/public/js/totop/jquery.ui.totop.min.js'
                               '@MyCmsBundle/Resources/public/js/jquery.emoticons.js'
                               '@MyCmsBundle/Resources/public/js/dist/spin.min.js'
                               '@MyCmsBundle/Resources/public/js/dist/ladda.min.js'
                               '@MyCmsBundle/Resources/public/js/jquery.lazyload.min.js'
                               '@MyCmsBundle/Resources/public/js/jquery.autosize.min.js'
                               '@MyCmsBundle/Resources/public/js/app.js'
                               filter="?yui_js" %}
                    <script type="text/javascript" src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% endspaceless %}
        {% endblock %}
    </body>
</html>