<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ article.meta('title') }}{% endblock %}</title>
        {% block metas %}
            {% for meta in article.metas %}
                {{ render_meta(meta) }}
            {% endfor %}
        {% endblock %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ path('cms_feed') }}" />
        <link rel="sitemap" type="application/xml" title="{{ 'text.sitemap'|trans({}, 'VinceCms') }}" href="{{ path('cms_sitemap') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            {% spaceless %}
                {% stylesheets 'bundles/mycms/css/bootstrap.min.css'
                               'bundles/mycms/css/app.css'
                               filter="?yui_css,cssrewrite" %}
                    <link type="text/css" rel="stylesheet" media="screen" href="{{ asset_url }}" />
                {% endstylesheets %}
            {% endspaceless %}
        {% endblock %}
        <!--[if lt IE 9]>
        {% javascripts '@MyCmsBundle/Resources/public/js/html5shiv.js'
                       '@MyCmsBundle/Resources/public/js/respond.min.js'
                       filter="?yui_js" %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <![endif]-->
        {% if ga_tracking is defined and ga_tracking is not empty %}
            <script>
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', '{{ ga_tracking }}']);
                _gaq.push(['_trackPageview']);
                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
                {% block ga %}{% endblock %}
            </script>
        {% endif %}
    </head>
    <body>
        <header class="container">
            <a href="{{ path('homepage') }}" title="Sandbox" class="sitename col-md-5">Sandbox</a>
            <nav class="col-md-7 navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    {{ render_menu('root', 'MyCmsBundle:Component:Menu/root.html.twig', {'current': block('current') ?: 'accueil'}) }}
                </div>
            </nav>
        </header>

        <section id="article" class="container">
            <article>
                {% block article %}{% endblock %}
            </article>
        </section>

        <footer>
            <p>Copyright &copy; {{ 'now'|date('Y') }} Sandbox • {{ 'All rights reserved'|trans({}, 'MyCms') }}</p>
        </footer>

        {% block javascripts %}
            {% spaceless %}
                {% javascripts '@jquery'
                               '@MyCmsBundle/Resources/public/js/bootstrap.min.js'
                               '@MyCmsBundle/Resources/public/js/jquery.autosize.min.js'
                               '@MyCmsBundle/Resources/public/js/app.js'
                               filter="?yui_js" %}
                    <script type="text/javascript" src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% endspaceless %}
        {% endblock %}
    </body>
</html>