<ul class="nav navbar-nav">
    {% for child in menu.children if child.isPublished %}
        <li{% if current and child.slug == current %} class="active"{% endif %}>
            <a href="{% if child.isUrl %}{{ child.url }}" target="{{ child.target }}{% else %}{{ path(child.article.routeName) }}{% endif %}"
               title="{{ child }}">
                {% if child.isImage %}
                    <img src="{{ asset(child.path) }}" alt="{{ child }}" title="{{ child }}" />
                {% else %}
                    {{ child }}
                {% endif %}
                {% if child.children.count %}
                    {% include 'MyCmsBundle:Component:Menu/root.html.twig' with {'menu': child, 'current': current} %}
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>
